.header{
    height: 30vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 5%;
    

}

.header > .logo{
    height: 100%;
    width: 60%;
    border-radius: 50px;
    margin: 0;
}

hr {
    border: .5px solid #000; 
    margin: 2vw 0; 
    width: 60%;
    justify-items: center;
}

